/* Styles for Mobile Site */
* {

    background-color: #F0CA53 ;
    
    color: #9E271E;
    }

/* Header & Hero */

#hero {text-align: center;}

#hero img{
    text-align: center;
 width: 400px;
 border-radius: 50%;
}
h1{

text-align: center;    
}

/* Projects */
 h2 {text-align: center;
    padding: 10px;
    color: #81F0CB;
font-size: 32pt;
background-color:#5727F2; } 
#projects *{

    background-color:#81F0CB; 
    
    font-size: 110%;
    
   
    

}


.project{

    display:grid;
    background-color:#81F0CB ;
    border:solid #F095A5 4px;
    padding: 20px;
    margin: 2%;

    align-items: center;
    grid-template-columns: 2fr 1fr;
   
 

    
}

.project h3{

 


    font-size: 32pt;
    
   

}

.project img {


    padding: 2%;
    width: 95%;
    
    
    }

    .project h2 {text-align: center;}

/* Reviews */

#reviews *  {

    background-color:#81F0CB; 
 margin-block: 60px;
    
}


.review{

    border: solid #F095A5 5px;
    padding: 10px;
    margin: 5px;

}

.name{
text-align: center;
font-size: 42pt;
text-decoration: underline;

}

.title{

    font-size: 32pt;
    text-align: center;
}

.rating{


text-align: right;
font-size: 15pt;



}

.content{

    font-size: 32pt;
   line-height: 40px;
}
/* Footer */

footer {

    background-color: #5727F2 ;
    color: #F095A5;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    font-size: 12pt;
    border: double 2px;
}



    

/* Media state for Desktop site */
@media (min-width: 1000px) {

  

    /* Header & Hero */

    /* Projects */

    h2{
        margin-right: 40%;
        margin-left: 40%;
    }
    
#projects img {

width: 70%;


}

#projects
{

  display:grid;
    background-color:#81F0CB ;
    border:solid #F095A5 4px;
    padding: 20px;
    margin: 2%;

    align-items: center;
    columns: 3;
    grid-template-columns: 1fr 1fr 1fr;
   
 

    
}

.project h3{

 
    background-color:#81F0CB ;

    font-size: 90%;
    
   

}
  

    /* Reviews */

    #reviews
{

  display:grid;
    background-color:#81F0CB ;
    border:solid #F095A5 4px;
    padding: 20px;
    margin: 2%;

    align-items: center;
    columns: 3;
    grid-template-columns: 1fr 1fr 1fr;
   
 

    
}

    /* Footer */
    footer {

        background-color: #5727F2 ;
        color: #F095A5;
        text-align: center;
        padding: 3rem;
        margin: 2rem;
        font-size: 24pt;
        border: double 10px;
    }



}


